.form{
    width: 50%;
    margin: 50px 0px 50px 25%;
}

/* admin login section */
.admin-login-page{
    width: 50%;
    margin-top: 100px;
    margin-left: 25%;
}

@media only screen and (max-width: 992px)
{
    .admin-login-page{
        width: 80%;
        margin-left: 10%;
    }
}
@media only screen and (max-width: 398px)
{
    .admin-login-page{
        width: 100%;
        margin-left: 0%;
    }
}


/* VENDORS  */
.active_vendors{
    left: -10px;
    bottom: -10px;
    position: relative;
    font-size: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
}